<app-navbar></app-navbar>
<body>
<h1>About Us</h1>
<p>Hello! Welcome to Youtube with Friends. Were the creators of this program, Will Sherwood and Sai Voleti. We are currently apart of the JuMP program by Collabera where we are exposed to many different technologies ranging from the front end to the back end development. Prior to coming to Collabera, we were both students, Will attending University of Buffalo majoring in Computer Science and Sai attending NJIT majoring in Business. We look forward to showing off Youtube with Friends and hope you guys enjoy!  </p>
<img src="assets/images/10454955_10203101961728835_8283535648596613298_o.jpg" alt="Avatar" style="width:200px">

<img src="assets/images/img_4165_1024.jpg" alt="Avatar" style="width:200px">

</body>
